In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df=pd.read_csv("../data/stores_sales_forecasting.csv", encoding="latin1")

In [3]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         2121 non-null   int64
 1   Order ID       2121 non-null   object
 2   Order Date     2121 non-null   object
 3   Ship Date      2121 non-null   object
 4   Ship Mode      2121 non-null   object
 5   Customer ID    2121 non-null   object
 6   Customer Name  2121 non-null   object
 7   Segment        2121 non-null   object
 8   Country        2121 non-null   object
 9   City           2121 non-null   object
 10  State          2121 non-null   object
 11  Postal Code    2121 non-null   int64
 12  Region         2121 non-null   object
 13  Product ID     2121 non-null   object
 14  Category       2121 non-null   object
 15  Sub-Category   2121 non-null   object
 16  Product Name   2121 non-null   object
 17  Sales          2121 non-null   float64
 18  Quantity       2121 non-null   int64
 19  Discount       2121 non-null   float64
 20  Profit         2121 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 348.1+ KB

In [4]:
df.columns=[df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-','_')]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (row_id,)         2121 non-null   int64
 1   (order_id,)       2121 non-null   object
 2   (order_date,)     2121 non-null   object
 3   (ship_date,)      2121 non-null   object
 4   (ship_mode,)      2121 non-null   object
 5   (customer_id,)    2121 non-null   object
 6   (customer_name,)  2121 non-null   object
 7   (segment,)        2121 non-null   object
 8   (country,)        2121 non-null   object
 9   (city,)           2121 non-null   object
 10  (state,)          2121 non-null   object
 11  (postal_code,)    2121 non-null   int64
 12  (region,)         2121 non-null   object
 13  (product_id,)     2121 non-null   object
 14  (category,)       2121 non-null   object
 15  (sub_category,)   2121 non-null   object
 16  (product_name,)   2121 non-null   object
 17  (sales,)          2121 non-null   float64
 18  (quantity,)       2121 non-null   int64
 19  (discount,)       2121 non-null   float64
 20  (profit,)         2121 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 348.1+ KB

In [6]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,11/8/16,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/16,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,4,US-2015-108966,10/11/15,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,6,CA-2014-115812,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
4,11,CA-2014-115812,6/9/14,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092

In [8]:
df.columns

MultiIndex([(       'row_id',),
            (     'order_id',),
            (   'order_date',),
            (    'ship_date',),
            (    'ship_mode',),
            (  'customer_id',),
            ('customer_name',),
            (      'segment',),
            (      'country',),
            (         'city',),
            (        'state',),
            (  'postal_code',),
            (       'region',),
            (   'product_id',),
            (     'category',),
            ( 'sub_category',),
            ( 'product_name',),
            (        'sales',),
            (     'quantity',),
            (     'discount',),
            (       'profit',)],
           )

The CSV was read with a multi-level header, so columns were tuples. I flattened and standardized them before applying transformations.

In [9]:
df.columns = [
    col[0] if isinstance(col, tuple) else col
    for col in df.columns
]

In [12]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         2121 non-null   int64
 1   order_id       2121 non-null   object
 2   order_date     2121 non-null   datetime64[ns]
 3   ship_date      2121 non-null   datetime64[ns]
 4   ship_mode      2121 non-null   object
 5   customer_id    2121 non-null   object
 6   customer_name  2121 non-null   object
 7   segment        2121 non-null   object
 8   country        2121 non-null   object
 9   city           2121 non-null   object
 10  state          2121 non-null   object
 11  postal_code    2121 non-null   int64
 12  region         2121 non-null   object
 13  product_id     2121 non-null   object
 14  category       2121 non-null   object
 15  sub_category   2121 non-null   object
 16  product_name   2121 non-null   object
 17  sales          2121 non-null   float64
 18  quantity       2121 non-null   int64
 19  discount       2121 non-null   float64
 20  profit         2121 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 348.1+ KB

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [13]:
df = df.drop_duplicates(subset=['order_id', 'product_id'])

In [14]:
# Postal code often missing - not needed for forecasting
df['postal_code'] = df['postal_code'].fillna('UNKNOWN')

# Validate critical fields
df = df.dropna(subset=['order_date', 'sales', 'region', 'category'])

Creating Time Features

In [16]:
df['order_week'] = df['order_date'].dt.to_period('W').apply(lambda r: r.start_time)
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month
df['week_of_year'] = df['order_date'].dt.isocalendar().week
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,sub_category,product_name,sales,quantity,discount,profit,order_week,year,month,week_of_year
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016-11-07,2016,11,45
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016-11-07,2016,11,45
2,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015-10-05,2015,10,41
3,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,2014-06-09,2014,6,24
4,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092,2014-06-09,2014,6,24

In [ ]:
# Date range
df['order_date'].min(), df['order_date'].max()

(Timestamp('2014-01-06 00:00:00'), Timestamp('2017-12-30 00:00:00'))

In [19]:
# Sales must be positive
df[df['sales'] <= 0].shape

(0, 25)

In [20]:
# Discount range
df['discount'].describe()

count    2119.000000
mean        0.173945
std         0.181573
min         0.000000
25%         0.000000
50%         0.200000
75%         0.300000
max         0.700000
Name: discount, dtype: float64

In [21]:
df.to_csv("../data/superstore_clean.csv", index=False)